.App {
  display: flex;
  flex-direction: column; 
  height: 100vh;
  
}

.section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  padding: 20px;
}

.section.light-bg {
  background-color: #f9f9f9;
  justify-content: center;
  align-items: center;
}

.section.dark-bg {
  background-color: #333;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.card-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 20px;
  width: 100%;
}

@media (min-width: 768px) {
  .App {
    flex-direction: row; 
  }

  .section {
    flex-direction: row; 
    align-items: flex-start; 
    padding: 20px; 
  }

  .card-container {
    max-width: 600px; 
  }
}
